In [2]:
import pandas as pd
import numpy as np
import matplotlib 
from matplotlib import pyplot

s = pd.Series([1,2,3,4],index=[4,3,2,1])
print(s)

4    1
3    2
2    3
1    4
dtype: int64

In [3]:
print(s*3)

4     3
3     6
2     9
1    12
dtype: int64

In [4]:
b = pd.Series([6,5,7,8],index=[3,4,2,1])
print(s + b)

1    12
2    10
3     8
4     6
dtype: int64

In [5]:
s = pd.Series([1,2,3,4,5],index=[4,3,2,2,np.nan])
b = pd.Series([6,5,7,8,9],index=[3,4,2,1,np.nan])
print(b + s)
print(s.shift(2)) #shitf是往下移动的意思
s

 1.0     NaN
 2.0    10.0
 2.0    11.0
 3.0     8.0
 4.0     6.0
NaN     14.0
dtype: float64
 4.0    NaN
 3.0    NaN
 2.0    1.0
 2.0    2.0
NaN     3.0
dtype: float64

 4.0    1
 3.0    2
 2.0    3
 2.0    4
NaN     5
dtype: int64

In [6]:
a = pd.Series([2,3,4])
a = pd.Series([[1,3],[3,4],[3,4],[4,6]],index=[np.nan,'d','b',np.nan])
b = pd.Series([2,6,5,6],index=[np.nan,np.nan,'d','b'])
dates = pd.date_range('20150201', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABdD'))
print(df)
print(df[0:1])
print(' ')
print(df['A'])
print(df.loc[pd.Timestamp('20150202'),'A':'B'])
print(df.iloc[0:2,0:2])

                   A         B         d         D
2015-02-01 -0.255441 -0.835549  1.050755  1.546383
2015-02-02 -0.910361  0.526879  1.342017  0.676893
2015-02-03 -0.257663  1.087580  1.290506 -0.254019
2015-02-04 -0.475162  0.161931 -0.716137 -0.072519
2015-02-05 -0.069262  1.062017 -0.196391  2.505547
2015-02-06  0.515659  0.618523  2.068544 -0.298123
                   A         B         d         D
2015-02-01 -0.255441 -0.835549  1.050755  1.546383

2015-02-01   -0.255441
2015-02-02   -0.910361
2015-02-03   -0.257663
2015-02-04   -0.475162
2015-02-05   -0.069262
2015-02-06    0.515659
Freq: D, Name: A, dtype: float64
A   -0.910361
B    0.526879
Name: 2015-02-02 00:00:00, dtype: float64
                   A         B
2015-02-01 -0.255441 -0.835549
2015-02-02 -0.910361  0.526879

In [7]:
df.at[dates[0],'A'] = 0
df.iat[1,1] = 0
print(df.iloc[0:2,0:2])

                   A         B
2015-02-01  0.000000 -0.835549
2015-02-02 -0.910361  0.000000

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2[df2['E'].isin(['test'])]
df2[df2['D'] > 2]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
print(df.mean())
s = pd.Series([2,3,4,5,6,7],index=dates).shift(-2)
print(df)
print(df.sub(2))
print(df.sub(s,axis='index'))

A   -0.199465
B    0.349084
d    0.806549
D    0.684027
dtype: float64
                   A         B         d         D
2015-02-01  0.000000 -0.835549  1.050755  1.546383
2015-02-02 -0.910361  0.000000  1.342017  0.676893
2015-02-03 -0.257663  1.087580  1.290506 -0.254019
2015-02-04 -0.475162  0.161931 -0.716137 -0.072519
2015-02-05 -0.069262  1.062017 -0.196391  2.505547
2015-02-06  0.515659  0.618523  2.068544 -0.298123
                   A         B         d         D
2015-02-01 -2.000000 -2.835549 -0.949245 -0.453617
2015-02-02 -2.910361 -2.000000 -0.657983 -1.323107
2015-02-03 -2.257663 -0.912420 -0.709494 -2.254019
2015-02-04 -2.475162 -1.838069 -2.716137 -2.072519
2015-02-05 -2.069262 -0.937983 -2.196391  0.505547
2015-02-06 -1.484341 -1.381477  0.068544 -2.298123
                   A         B         d         D
2015-02-01 -4.000000 -4.835549 -2.949245 -2.453617
2015-02-02 -5.910361 -5.000000 -3.657983 -4.323107
2015-02-03 -6.257663 -4.912420 -4.709494 -6.254019
2015-02-04 -7.475162 -6.838069 -7.716137 -7.072519
2015-02-05       NaN       NaN       NaN       NaN
2015-02-06       NaN       NaN       NaN       NaN