In [3]:
import pandas as pd
import numpy as np
import matplotlib 
from matplotlib import pyplot

dates = pd.date_range('20150201', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABdD'))
df

                   A         B         d         D
2015-02-01 -0.191146  0.429406  0.721240 -0.590788
2015-02-02  2.450843  0.003850 -0.105079 -0.196691
2015-02-03  0.776173 -0.716092  0.978703  0.335256
2015-02-04 -1.196908  0.877051 -0.043900 -0.378933
2015-02-05  0.252792  0.994821 -0.540124 -0.681346
2015-02-06 -0.942385  0.725405  0.979518 -0.218183