In [81]:
import pandas as pd
import numpy as np
import matplotlib 
from matplotlib import pyplot

s = pd.Series([1,2,3,4],index=[4,3,2,1])
print(s)

4    1
3    2
2    3
1    4
dtype: int64

In [82]:
print(s*3)

4     3
3     6
2     9
1    12
dtype: int64

In [83]:
b = pd.Series([6,5,7,8],index=[3,4,2,1])
print(s + b)

1    12
2    10
3     8
4     6
dtype: int64

In [128]:
s = pd.Series([1,2,3,4,5],index=[4,3,2,2,np.nan])
b = pd.Series([6,5,7,8,9],index=[3,4,2,1,np.nan])
print(b + s)
print(s.shift(2)) #shitf是往下移动的意思
s

 1.0     NaN
 2.0    10.0
 2.0    11.0
 3.0     8.0
 4.0     6.0
NaN     14.0
dtype: float64
 4.0    NaN
 3.0    NaN
 2.0    1.0
 2.0    2.0
NaN     3.0
dtype: float64

 4.0    1
 3.0    2
 2.0    3
 2.0    4
NaN     5
dtype: int64

In [75]:
a = pd.Series([2,3,4])
a = pd.Series([[1,3],[3,4],[3,4],[4,6]],index=[np.nan,'d','b',np.nan])
b = pd.Series([2,6,5,6],index=[np.nan,np.nan,'d','b'])
dates = pd.date_range('20150201', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABdD'))
print(df)
print(df[0:1])
print(' ')
print(df['A'])
print(df.loc[pd.Timestamp('20150202'),'A':'B'])
print(df.iloc[0:2,0:2])

                   A         B         d         D
2015-02-01 -0.347133 -1.212790 -1.840265 -1.939100
2015-02-02  0.860604 -0.348767 -0.998609 -0.434246
2015-02-03 -0.971865 -0.190221 -1.034011 -1.161461
2015-02-04  0.441716  0.768749 -1.806132 -0.146268
2015-02-05  0.203364  1.091880  0.756366  0.998298
2015-02-06  0.168105 -2.847753  1.558462 -0.807887
                   A        B         d       D
2015-02-01 -0.347133 -1.21279 -1.840265 -1.9391

2015-02-01   -0.347133
2015-02-02    0.860604
2015-02-03   -0.971865
2015-02-04    0.441716
2015-02-05    0.203364
2015-02-06    0.168105
Freq: D, Name: A, dtype: float64
A    0.860604
B   -0.348767
Name: 2015-02-02 00:00:00, dtype: float64
                   A         B
2015-02-01 -0.347133 -1.212790
2015-02-02  0.860604 -0.348767

In [72]:
df.at[dates[0],'A'] = 0
df.iat[1,1] = 0
print(df.iloc[0:2,0:2])

                   A         B
2015-02-01  0.000000  1.314317
2015-02-02  1.103339  0.000000

In [138]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
print(df2)
df2.at[1:3,'G'] = ['sig','sig2','sig3']
print(df2)
print(pd.Series([2,3,4,5,6,7],index=dates)
print(df2.sub(pd.Series([2,3,4,5,6,7],index=dates).shift(2),axis='index'))

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
     A          B    C  D      E    F     G
0  1.0 2013-01-02  1.0  3   test  foo   NaN
1  1.0 2013-01-02  1.0  3  train  foo   sig
2  1.0 2013-01-02  1.0  3   test  foo  sig2
3  1.0 2013-01-02  1.0  3  train  foo  sig3
0    2
1    3
dtype: int64

ValueError: operands could not be broadcast together with shapes (70,) (10,)

In [92]:
df2[df2['E'].isin(['test'])]
df2[df2['D'] > 2]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [114]:
df2.at[0,'C'] = 5
print(df2.mean())
df2

A    1.0
C    2.0
D    3.0
dtype: float64

     A          B    C  D      E    F     G
0  1.0 2013-01-02  5.0  3   test  foo   NaN
1  1.0 2013-01-02  1.0  3  train  foo   sig
2  1.0 2013-01-02  1.0  3   test  foo  sig2
3  1.0 2013-01-02  1.0  3  train  foo  sig3